/* CSS reset*/
body, header, nav, footer, h1, div, img, ul{
    margin:  0;
    padding: 0;
    border: 0;
}

body{
    background-color: #fff;
    
}

h1{
	font-size: 200%;
	}

header{
    background-color: #E83F71ff;
    height: 15px;
    padding: 7%;
    position: -webkit-sticky;
    position:sticky;
    top: 0;
}

header img{
    margin: 0 auto;
	/*
	display:flex;
	justify-content: between;
	align-items: center;
	*/
}

nav{
    padding: 1%;
    margin-bottom: 1%;
}

nav ul{
    list-style-type: none;
    text-align: center;
}

nav li{
    font-size: 1.75em;
    font-family: 'Send Flower', cursive;
    border-top: 1px solid rgb(225, 36, 36);
}

li:first-child{
    border-top: none;
}

nav li a{
    display: block;
    color: #88C2C9ff;
    padding: 0.5em 1em;
    text-decoration: none;
}

nav li a:hover {
  color: #023262ff;
  background-color: #D6DFD8ff;
  border-radius: 5px;
}

p { color: #674555ff; 
    font-family: 'Helvetica Neue', 
    sans-serif; 
    font-size: 20px; 
    line-height: 24px; 
    margin: 0 0 24px; 
    text-align: justify; 
    text-justify: inter-word; }

img{
    max-width: 100%;
    display: block;
}

main{
    /*clear: left;*/
    background-color: #fff;
    padding: 2%;
    font-size: 1.25em;
    font-family: 'Roboto', sans-serif;
}

.tel-link a{
    color: rgb(225, 36, 36);
    text-decoration: none;
    font-size: 1.5em;
    display: block;
}

footer p{
    font-size: 0.75em;
    text-align: center;
    color: #023262ff;
    padding: 0 1em;
}

footer p a{
    color: #023262ff;
    text-decoration: none;
}

.tel-link{
    background-color: #404040;
    padding: 2%;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    border-radius: 5px;
}


#contact{
    text-align: center;
}

#contact a{
    color: #023262ff;
    text-decoration: none;
}

.map{
    border: 8px solid #88C2C9ff;
}

.hours{
    margin-left: 10%;
}

.tablet-desktop{
    display: none;
}

.mobile{
    display: block;
}

#strawberry, #oreo, #vanilla{
    margin: 0 2%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }

.action {
  font-size: 1.35em;
  color: rgb(232, 63, 113);
  font-weight: bold;
  text-decoration: none;
  text-shadow: 5px 5px 8px rgb(136, 194, 201);
  padding: 5px 10px;
  border-radius: 5px;
}

#gradient-style {
      clear: left;
      border-radius: 10px;
      border-top: 1px solid rgb(142, 207, 71);
      border-bottom: 1px solid rgb(142, 207, 71);
      background-color: #f2f2f2;
      padding: 1% 2%;
      background: linear-gradient(to right, rgb(231, 159, 159), rgb(241, 203, 203));
    }


@media screen and (min-width: 630px), print{

    /* Table viewport: show tablet-desktop class, hide mobile class */
    
	h1{
	font-size: 300%;
	}
	
    .tablet-desktop{
        display: block;
    }
    
    .mobile{
        display: none;
    }
    
    header{
        position: static;
        padding-bottom: 7%;
    }
    
    /* Tablet Viewport: Style rules for nav area */ 
    
    nav li{
        border-top: none;
        display: inline-block;
        border-right: 1px solid #fff;
    }
    
    nav li:last-child{
        border-right: none;
    }
    
    nav li a{
        padding: 0.1em 0.75em;
    }
    
    /* Tablet Viewport: Style rules for main content area */
    
    main ul{
        margin: 0 0 4% 10%;
    
    }
    
    .tel-num{
        font-size: 1.25em;
        text-align: center;
    }
    
    .map{
        width:600px;
        height:450px;
    }

    @media screen and (min-width: 769px), print{
        /* Desktop Viewport: Style rule for header */ 
	
	.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
  }
  
.frame {
  opacity: 0.9;
}

.frame:hover {
  opacity: 1;
  box-shadow: 8px 8px 2px #808080;
  color: #808080;
  width: 200px;
  height: 200px;
  border-radius: 0%;
}
	}
	/*
	header {
    float: left;
  }

  nav {
    float: right;
  }

  nav ul {
    display: inline-block;
  }

  nav li {
    margin-right: 10px;
  }
*/
        
	.tablet-desktop table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  .tablet-desktop caption {
    font-size: 2.2em;
    margin-bottom: 10px;
    color: #023262ff;
  }

.tablet-desktop th {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: #E83F71ff; 
    color: white;
  }

  .tablet-desktop td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
	
  }

  /* Alternate row color */
  .tablet-desktop tbody tr:nth-child(even) {
    background-color: #88C2C9ff;
  }
   
   @media (max-width: 768px) {
  .frame {
    position: relative;
    max-width: 450px;
    margin: 2% auto;
  }

  .pic-text {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    opacity: 0.5;
    width: auto;
    padding: 5px;
    text-align: center;
    font-family: verdana, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
  }
   .form-container {
      background-color: rgb(232, 113, 100);
      padding: 20px;
    }
	


